html {
	box-sizing: border-box;
	font-size: 10px;

	@media(min-width: $fullsize){
		font-size: #{1000px/$design-width}vw;
	}
}
*,
*::before,
*::after {
	box-sizing: inherit;
	outline: none;
}
body {
	background: #000;
	color: #fff;
	font-family: $font-family-base;
	font-size: #{$font-size-base/10px}rem;
	font-weight: $font-weight-base;
	line-height: $line-height-base;
	// padding-top: $header-height;
	padding-top: 4.9rem;

	&.nav-ocn.nav-open {
		overflow: hidden;
	}

	&.home {
		// padding-top: 0;
	}

	@media (max-width: $phablet) {
		// padding-top: $header-mobile-height;
	}
}
.wrapper {
	// min-height: 100vh;
	// min-height: 100vh;
	overflow: hidden;
	position: relative;
}

#MainContent{
	background: url(assets/body-top.png) no-repeat center top;
	background-size: 100% auto;
	padding: 15% 0 7rem 0;				
				
	@media(max-width: $laptop){
		// padding-top: 20%;
	}
	@media(max-width: $phablet){
		// padding-top: 20%;
	}

	h1{
		text-align: center;
	}
}

.hentry{
	
}

.skip-link,
.screen-reader-text {
	position: absolute!important;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	border: 0;
	clip: rect(0 0 0 0);
	
	&:focus {
		overflow: auto;
		width: auto;
		height: auto;
		margin: 0;
		clip: auto;
		z-index: 10000;
		padding: 15px;
		background-color: #fff;
		color: #43515c;
		transition: none;
	}
}