#ocn-overlay {
	background: rgba(0,0,0,0.85);
	bottom: 0;
	display: block;
	height: 100%;
	left: 0;
	opacity: 0;
	position: fixed;
	visibility: hidden;
	right: 0;
	top: 0;
	width: 100%;
	z-index: -1000;
	transition: opacity 0.5s, visibility 0s, z-index 0s;
	transition-delay: 0s, 0.5s, 0.5s;

	.nav-open & {
		opacity: 1;
		visibility: visible;
		transition-delay: 0.1s, 0s, 0s;
		z-index: 1000;
	}
}
#ocn {
	background: none;
	// bottom: 0;
	position: fixed;
	// overflow-y: scroll;
	overflow: hidden;
	right: 0;
	top: 0;
	width: 280px;
	z-index: 99998;
	transform: translateY(-100%);
	transition: transform 0.5s;
	// transition-delay: 0ms;
	z-index: 99998;

	.nav-open & {
		// box-shadow: 0 0 4px $brand-black;
		transform: translateY(0);
		// transition-delay: 200ms;
	}
}

#ocn-inner {
	background: #fff;
	@include clearfix;
	padding-bottom: 20px;
}

#ocn-top {
	align-items: center;
	display: flex;
	justify-content: space-between;
	padding: 20px;
	position: relative;
}
#ocn-brand {
	display: block;
	width: 70px;

	img{
		display: block;
	}
}
#ocn-close {
	background: transparent;
	border: none;
	border-radius: 0;
	display: block;
	height: 28px;
	padding: 0;
	position: relative;
	// right: -4px;
	// top: -5px;
	width: 28px;

	&:before,
	&:after {
		background: $brand-red;
		border-radius: 1px;
		content: '';
		display: block;
		height: 2px;
		top: 50%;
		left: 0;
		position: absolute;
		width: 100%;
	}
	&:before {
		transform: rotate(-45deg);
	}
	&:after {
		transform: rotate(45deg);
	}
}

#ocn-nav-primary {
	font-size: 24px;

	.menu {
		> li {
			position: relative;
			
			.ocn-link-wrap{
				display: block;
				position: relative;
			}

			a {
				color: #000;
				display: block;
				padding: 10px 20px;
				position: relative;
				text-decoration: none;

				&:hover{
					color: $brand-red;
				}
			}
			.ocn-sub-menu-button{
				display: none;
			}
		}
		
		li{
			&.menu-item-has-children {
				
				& > .ocn-link-wrap{
					padding-right: 40px;
					

					& > .ocn-sub-menu-button{
						align-items: center;
						background: rgba(0,0,0,0.1);
						border-radius: 0;
						cursor: pointer;
						display: flex;
						justify-content: center;
						padding: 0;
						position: absolute;
						top: 0;
						right: 0;
						bottom: 0;
						width: 40px;
						z-index: 2;

						&:after {
							content: '\f107';
							display: block;
							font-family: "Font Awesome 5 Pro";
							font-size: 1.3em;
							transition: transform 300ms;
						}
					}
				}
			}

			.sub-menu {
				background: rgba(0,0,0,0.1);
				font-size: 0.9em;
				height: auto;
				max-height: 0;
				overflow: hidden;
				padding: 0 0 0 10px;
				transition: all 0.5s;
			}

			&.menu-item-open {
				> .ocn-link-wrap > .ocn-sub-menu-button:after {
					transform: rotate(-180deg);
				}
				> .sub-menu {
					max-height: 700px;
					padding-top: 10px;
					padding-bottom: 10px;
				}
			}
		}
	}
}

.ocn-bottom{
	background: url(assets/body-top.png) no-repeat 0 top;
	background-size: 100% auto;
	height: 130px;
	position: relative;
	top: -2px;
	transition: background-size 0.8s;

	.nav-open & {
		background-size: 250% auto;
	}
}


#nav-toggle {
	display: block;
	background: transparent;
	border-top: 3px solid #000;
	border-bottom: 3px solid #000;
	border-right: 0;
	border-left: 0;
	height: 18px;
	line-height: 1;
	padding: 0;
	position: relative;
	right: 0;
	width: 33px;


	&:before{
		background: #000;
		height: 3px;
		content: '';
		display: block;
		position: absolute;
		top: 50%;
		right: 0;
		left: 0;
		transform: translateY(-50%);
	}
	
}
.nav-open {
	#nav-toggle {
	}
}
