.site-footer {
	background: $brand-red url(assets/footer-top.png) no-repeat center -1px;
	background-size: 100% auto;
	clear: both;
	// height: 36rem;
	padding: 20rem 0 6rem 0;
	// padding-bottom: 23%;
	position: relative;
	width: 100%;
	
	@media(max-width: $fullsize){
		// height: 0;
		// padding-bottom: 23%;
	}
	@media(max-width: $laptop){
		padding-top: 15%;
	}
	@media(max-width: $tablet){
		padding-bottom: 2rem;
	}
	
	.footer-logo{
		display: block;
		margin: 0 auto 3rem auto;
		// position: absolute;
		// right: 0;
		// bottom: 6rem;
		// left: 0;
		width: 20rem;
		
		@media(max-width: $tablet){
			width: 15rem;
		}
		@media(max-width: $phablet){
			width: 10rem;
		}
	}
	
	.inner{
		display: flex;
		align-items: center;
		justify-content: space-between;
		position: absolute;
		bottom: 1rem;
		right: 2rem;
		left: 2rem;
		
		@media(max-width: $tablet){
			display: block;
			position: relative;
			bottom: 0;
			right: 0;
			left: 0;
		}
	}
	
	.copyright{
		color: #000;
		float: left;
		line-height: 3rem;
	
		@media(max-width: $tablet){
			float: none;
			text-align: center;
		}
		@media(max-width: $phablet){
			font-size: 1.5rem;
		}
		
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			
			li{
				display: inline-block;
				margin-right: 2rem;
			}
		}

		a{
			color: #000;
			text-decoration: none;

			&:hover{
				text-decoration: underline;
			}
		}
	}
	
	.out-links{
		display: flex;
		align-items: flex-end;
		
		@media(max-width: $tablet){
			margin-top: 3rem;
			justify-content: center;
			width: 100%;
		}
	}
	
	.social-links{
		display: inline-block;
		font-size: 2rem;
		list-style: none;
		line-height: 3rem;
		margin: 0;
		padding: 0;

		li{
			display: inline-block;
			margin-left: 1rem;
		}

		a{
			color: #000;
			text-decoration: none;

			&:hover{
				color: #fff;
			}
		}
	}

	.bumblephant{
		display: inline-block;
		margin-left: 3rem;
		width: 5rem;

		a{
			display: block;
			position: relative;
			width: 100%;

			&:hover{
				.static{
					opacity: 0;
				}

				.hover{
					opacity: 1;
				}
			}
		}

		img{
			display: block;
			width: 100%;
			transition: opacity 0.3s;
		}

		.static{
			opacity: 1;
		}

		.hover{
			opacity: 0;
			position: absolute;
			top: 0;
			left: 0;
		}
	}
}
