.site-header {
	background-color: $header-bg-color;
	height: $header-height;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 99;

	.inner.container {
		align-items: center;
		display: flex;
		height: 100%;
		justify-content: space-between;
		position: relative;

		&:after{
			display: none; //to fix flex justify
		}
	}

	@media (max-width: $phablet) {
		height: $header-mobile-height;
	}
}

.site-header__menu {
	text-align: right;

	.menu {
		li {
			display: inline-block;
		}
	}

	@media (max-width: $tablet) {
		.menu {
			display: none;
		}
	}
}

#large-nav-primary{

	@media (max-width : $mobile-nav-breakpoint) {
		display: none;
	}
	
	.menu > li{
		display: inline-block;
	}
	
	.menu-item-has-children{
		position: relative;
		
		&:hover{
			.sub-menu{
				max-height: 100rem;
				opacity: 1;
			}
		}
		
		.sub-menu{
			max-height: 0;
			opacity: 0;
			overflow: hidden;
			position: absolute;
			top: 100%;
			left: 50%;
			text-align: left;
			transform: translateX(-50%);
			transition: all 0.3s;
			white-space: nowrap;

			li{
				display: block;
			}
		}
		
		&.mega-menu-full{
			position: static;
			
			.sub-menu{
				left: 0;
				transform: none;
				width: 100vw;
			}
		}
	}
}

