/*----------------------------------------------------------------------
  FONTS
----------------------------------------------------------------------*/
$font-family-base:     'Playfair Display', serif;
$font-weight-base:     400;
$font-family-headline: $font-family-base;
$font-weight-headline: 400;
$font-family-callout:  $font-family-base;
$font-size-base:       18px;
$line-height-base:     1.5;


/*----------------------------------------------------------------------
  BRANDING COLORS
----------------------------------------------------------------------*/
$brand-black: #000;
$brand-red: #cf0000;
// $brand-yellow: #F6EB3A;

/* Social media colors */
$facebook-blue:    #3c5b9b;
$google-plus-red:  #f63d27;
$instagram-blue:   #517fa4;
$pinterest-red:    #cb2027;
$twitter-blue:     #2daae1;
$youtube-red:      #e14e42;


/*----------------------------------------------------------------------
  FORMS
----------------------------------------------------------------------*/
$form-error-color:	   $brand-red;


/*----------------------------------------------------------------------
  CONTAINERS & GRID
----------------------------------------------------------------------*/
$container-max-width: 915px;
$container-width:     85%;
$design-width:        1400px;


/*----------------------------------------------------------------------
  MEDIA QUERIES & BREAKPOINTS
----------------------------------------------------------------------*/
$use-max-width: true;
$mobile:   450px;
$phablet:  640px;
$tablet:   768px;
$laptop:   1024px;
$desktop:  1280px;
$fullsize: $design-width;
$mobile-nav-breakpoint: $tablet;


/*----------------------------------------------------------------------
  CALCULATIONS & STANDARDS
  You should not have to edit anything below this line. If so and you
  believe it's a problem with or enhancement to the framework, be sure
  to create an issue on Github:

  https://github.com/makespaceweb/makespace-child/issues

----------------------------------------------------------------------*/
$fa-font-path:       'fonts';
$max-width:          #{$container-max-width/10px}rem;
@if $use-max-width == true {
	$phablet:  $phablet - 1px;
	$tablet:   $tablet - 1px;
	$laptop:   $laptop - 1px;
	$desktop:  $desktop - 1px;
	$fullsize: $fullsize - 1px
}