.blog {

}

.archive-list{
	
	.post-thumbnail{
		width: 100%;
		
		.img{
			background: no-repeat center center;
			background-size: cover;
			display: block;
			height: 0;
			padding-bottom: 50%;
			width: 100%;
		}
	}
	
	&.full-width{
		.post-thumbnail{
			width: 100%;
			
			.img{
				padding-bottom: 50%;
			}
		}
		
		.content{
			
		}
	}
	
	&.half-cols{
		display: flex;
		flex-wrap: wrap;
		
		.hentry{
			float: left;
			width: 50%;
		}
		
		.post-thumbnail{
			width: 100%;
			
			.img{
				padding-bottom: 70%;
			}
		}
		
		.content{
			
		}
	}
	
	&.alternating-cols{
		.hentry{
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			
			&:nth-child(2n){
				flex-direction: row-reverse;
				text-align: right;
			}
		}
			
		.post-thumbnail{
			float: left;
			width: 25%;
			
			.img{
				padding-bottom: 100%;
			}
		}
		.content{
			float: left;
			width: 75%;
		}
	}
}

.archive-pagination{
	text-align: center;
	
	.page-numbers{
		&.current{
			
		}
		
		&.prev{
			
		}
		
		&.next{
			
		}
	}
}