.home {
	padding-top: 0;

	#MainContent{
		background: none;
		padding: 0;
	}

	.hentry{
		background: url(assets/body-top.png) no-repeat center top;
		background-size: 100% auto;
		padding: 20rem 0 5rem 0;				
					
		@media(max-width: $laptop){
			padding-top: 20%;
		}
		@media(max-width: $phablet){
			// padding-top: 20%;
		}

		h1{
			text-align: center;
		}
	}
}

.hero{
	background: #fff;
	// height: 100vh;
	padding: 25vh 0;
	position: relative;
}

.hero-logo{
	display: block;
	margin: 0 auto;
	// position: absolute;
	// top: 50%;
	// right: 0;
	// left: 0;
	width: 40%;
	// transform: translateY(-50%);
	max-width: 60rem;
	
	@media(max-width: $laptop){
		width: 50%;
	}
	@media(max-width: $tablet){
		max-width: 30rem;
		width: 80%;
	}
}

.main{
	.container{
		max-width: 100rem;
	}
}
