.page-template-default {
	
}

.hentry{
	background: url(assets/body-top.png) no-repeat center top;
	background-size: 100% auto;
	padding: 20rem 0 5rem 0;				
				
	@media(max-width: $laptop){
		padding-top: 20%;
	}
	@media(max-width: $phablet){
		// padding-top: 20%;
	}

	h1{
		text-align: center;
	}
}