@keyframes spin{
	0%{
		transform: rotate(0deg);
	}
	100%{
		transform: rotate(359deg);
	}
}

//colors
$woo_white: #f9f9f9;
$woo_natural: #E5DBBF;
$woo_black: #111;
$woo_dark_grey: #4C4C4A;
$woo_heather_grey: #A7A7A5;
$woo_light_grey: #B0AEAF;
$woo_silver: silver;
$woo_ash: #e3e0dc;
$woo_purple: #624683;
$woo_red: #C02346;
$woo_light_pink: #e5c6d4;
$woo_light_blue: #a4c8e1;
$woo_blue: #2A5186;
$woo_navy: #2D404E;
$woo_turquoise: #2286B7;
$woo_green: #299E5F;


.woocommerce {

	.woocommerce-main-content{
		// background: #fff;
		// // border: 0.3rem solid $brand-black;
		// border-radius: 0.5rem;
		// box-shadow: 0.3rem 0.7rem 0.3rem rgba(0,0,100,0.2);
		// padding: 4rem 5rem;
		
		// @include clearfix();
		// margin-left: auto;
		// margin-right: auto;
		// max-width: $max-width;
		// width: $container-width;
		
		// @media(max-width:$phablet){
		// 	padding: 2rem;
		// }

		.woocommerce-products-header__title.page-title{
			margin-bottom: 3rem;

			@media(max-width:$phablet){
				text-align: center;
			}
		}
	}
}

.woocommerce-notices-wrapper{
	clear: both;
}

.woocommerce-result-count{
	float: left;
	
	@media(max-width:$phablet){
		float: none;
		text-align: center;
	}
}

.woocommerce-ordering{
	float: right;
	
	@media(max-width:$phablet){
		float: none;
		text-align: center;
	}

	select{
		border: 1px solid $brand-black;
		// border-radius: 0.4rem;
		border-radius: 0;
		padding: 0.5rem;
	}
}

.woocommerce{
	ul.products{
		align-items: stretch;
		clear: both;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		list-style: none;
		margin: 0;
		// margin: 0 -2rem;
		overflow: hidden;
		// padding: 2rem 0 0 0;

		&:before{
			display: none;
		}

		&:after{
			content: '';
			display: block;
			flex-basis: 28%;
			width: 28%;
		}

		li.product{
			float: left;
			margin: 0 0 3% 0;
			// padding: 2rem;
			text-align: center;
			// width: 25%;
			width: 28%;
			
			@media(max-width: $laptop){
				// width: 33.333%;
				// width: 30%;
			}
			
			@media(max-width: $tablet){
				// width: 50%;
				width: 46%;
			}

			@media(max-width: $phablet){
				margin-right: auto;
				margin-left: auto;
				max-width: 30rem;
				width: 100%;
			}

			a{
				border: 1px solid #000;
				// border-radius: 0.4rem;
				display: block;
				padding: 2rem;
				text-decoration: none;
				transition: border 0.5s;

				&:hover{
					border-color: $brand-red;

					figure{
						&:after{
							// opacity: 0;
							transform: scale(1.05);
							// top: -5%;
							// right: -5%;
							// bottom: -5%;
							// left: -5%;
						}
						img{
							transform: scale(2) translateY(9%);
						}
					}
				}
			}

			&:nth-child(4n + 1){
				figure{
					&:after{
						// transform: rotate(0deg);
					}
				}

				// a{
				// 	&:hover{
				// 		figure{
				// 			&:after{
				// 				transform: scale(1.05);
				// 			}
				// 		}
				// 	}
				// }
			}
			&:nth-child(4n + 2){
				figure{
					&:after{
						transform: rotate(180deg);
					}
				}

				a{
					&:hover{
						figure{
							&:after{
								transform: scale(1.05) rotate(180deg);
							}
						}
					}
				}
			}
			&:nth-child(4n + 3){
				figure{
					&:after{
						transform: rotate(90deg);
					}
				}

				a{
					&:hover{
						figure{
							&:after{
								transform: scale(1.05) rotate(90deg);
							}
						}
					}
				}
			}
			&:nth-child(4n + 4){
				figure{
					&:after{
						transform: rotate(270deg);
					}
				}

				a{
					&:hover{
						figure{
							&:after{
								transform: scale(1.05) rotate(270deg);
							}
						}
					}
				}
			}

			figure{
				display: block;
				margin-bottom: 2rem;
				overflow: hidden;
				position: relative;

				&:after{
					background: url(assets/product-frame.png) no-repeat center center;
					background-size: cover;
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					transition: all 0.7s;
					z-index: 2;
				}
			}

			img{
				// border-radius: 0.4rem;
				display: block;
				margin: 0;
				position: relative;
				transition: all 0.5s;
				width: 100%;
				z-index: 1;
			}

			.woocommerce-loop-product__title{
				display: block;
				font-size: 1.8rem;
				letter-spacing: 0.1em;
				line-height: 1.2;
				position: relative;
				text-transform: uppercase;
				transition: opacity 0.3s;
				z-index: 3;
				
				@media(max-width: $laptop){
					font-size: 1.6rem;
				}
				@media(max-width: $tablet){
					font-size: 1.8rem;
				}
			}

			.colors{
				list-style: none;
				margin: 0;
				padding: 0;
				position: relative;
				transition: opacity 0.3s;
				z-index: 3;

				li{
					border: 1px solid #000;
					display: inline-block;
					width: 2rem;
					height: 2rem;
					font-size: 0;
					margin: 0.2rem;
					overflow: hidden;

					&.white,
					&.solid_white{
						background: $woo_white;
					}
					&.black,
					&.solid_black{
						background: $woo_black;
					}
					&.ash,
					&.ash_grey{
						background: $woo_ash;
					}
					&.solid_light_grey{
						background: $woo_light_grey;
					}
					&.silver{
						background: $woo_silver;
					}
					&.heather_grey{
						background: $woo_heather_grey;
					}
					&.light_blue,
					&.solid_light_blue{
						background: $woo_light_blue;
					}
					&.solid_midnight_navy{
						background: $woo_navy;
					}
					&.light_pink,
					&.solid_light_pink{
						background: $woo_light_pink;
					}
					&.solid_natural{
						background: $woo_natural;
					}
					&.solid_kelly_green{
						background: $woo_green;
					}
					&.solid_turquoise{
						background: $woo_turquoise;
					}
					&.solid_purple_rush{
						background: $woo_purple;
					}
					&.solid_red{
						background: $woo_red;
					}
					&.solid_heavy_metal{
						background: $woo_dark_grey;
					}
					&.solid_royal{
						background: $woo_blue;
					}
				}
			}
			.price{
				font-size: 1.6rem;
			}
		}
	}
}
.woocommerce-pagination{
	margin: 4rem 0 2rem;
	text-align: center;

	ul.page-numbers{
		font-size: 3rem;
		line-height: 1;
		list-style: none;
		margin: 0;
		padding: 0;

		li{
			display: inline-block;
			margin: 0 0.7rem;
		}

		a{
			&:hover{
				color: #000;
			}
		}

		a.page-numbers{

			&.prev,
			&.next{
				font-size: 4rem;
				vertical-align: middle;
			}
			&.prev{
				margin-right: 1rem;
			}
			&.next{
				margin-left: 1rem;
			}
		}
	}
}

/* single **********************************************************************************/

.woocommerce.single-product{
	.woocommerce-main-content{
		margin: 0 auto;
		max-width: 112rem;
		overflow: hidden;
		width: $container-width;
		
		.product_title.entry-title{
			border-bottom: 1px solid $brand-red;
			float: right;
			margin: 0 0 2rem 0;
			padding-bottom: 2rem;
			text-align: center;
			width: 50%;
			
			@media(max-width: $laptop){
				font-size: 4rem;
				width: 40%;
			}
			
			@media(max-width: $tablet){
				width: 100%;
			}
		}


		.product{

			.woocommerce-product-gallery{
				float: left;
				width: 44%;
				
				@media(max-width: $laptop){
					width: 55%;
				}
				
				@media(max-width: $tablet){
					border-bottom: 1px solid $brand-red;
					margin-bottom: 2rem;
					padding-bottom: 2rem;
					width: 100%;
				}

				@media(max-width: $phablet){
					// width: 100%;
				}

				.woocommerce-product-gallery__wrapper{
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					width: 100%;
				}

				a,img{
					display: block;
					margin: 0 auto;
					width: 100%;
				}

				a{
					// border: 1px solid #fff;
					// transition: border 0.3s;

					&:hover{
						// border: 1px solid $brand-red;
					}
				}

				.woocommerce-product-gallery__image{
					float: left;
					padding: 1rem;
					width: 25%;
					
					@media(max-width: $phablet){
						padding: 0.5rem;
						// width: 50%;
					}

					&:first-child{
						width: 100%;

						a{
							border: 0 !important;
						}
					}

					img{
					}
				}
			}

			.entry-summary{
				float: right;
				text-align: center;
				width: 50%;
				
				@media(max-width: $laptop){
					width: 40%;
				}
				
				@media(max-width: $tablet){
					width: 100%;
				}

				@media(max-width: $phablet){
				}

				.price{
					font-size: 3.2rem;
					margin-bottom: 2rem;

					.woocommerce-Price-currencySymbol{
						font-size: 0.7em;
					}
				}

				h3{
					margin-bottom: 2rem;
				}

				table.variations{
					// margin: 0 0 1rem 0;
					margin-bottom: 0;
					max-width: 25rem;

					td{
						// padding-bottom: 0.5rem;
						padding: 0.5rem 0;
						vertical-align: top;
					}

					label{
						display: block;
						font-size: 1.8rem;
						line-height: 2;
						margin: 0;
						padding: 0.3rem 1rem 0.3rem 0;
						text-align: right;
					}

				}

				select,
				input{
					background: #fff;
					color: #000;
					// border: 1px solid #fff;
					// border-radius: 0.4rem;
					margin: 0;
					padding: 0.7rem;
				}

				.reset_variations{
					display: block;
					float: right;
					clear: both;
					// position: absolute;
					// top: 100%;
					// right: 0;
				}

				.woocommerce-variation-price{
					font-size: 4rem;
					margin: 0 0 1.5rem 0;
				}

				.woocommerce-variation-add-to-cart{
					// display: flex;
					// align-items: center;
					// justify-content: center;
				}

				// .quantity{
				// 	font-size: 2rem;

				// 	&:before{
				// 		content: 'Quantity';
				// 		display: inline-block;
				// 		margin-right: 0.5rem;
				// 	}

				// 	input{
				// 		display: inline-block;
				// 		padding: 0.5rem;
				// 		width: 6rem;
				// 	}
				// }
				.quantity{
					// align-items: center;
					// border: 1px solid #fff;
					display: block;
					float: none;
					// height: 5rem;
					margin: 0;
					line-height: 5rem;
					padding: 0.5rem 0.8rem;
					white-space: nowrap;
					vertical-align: middle;
					// width: 11rem;

					&:before{
						color: #fff;
						content: 'Quantity';
						display: inline-block;
						// font-family: $font-family-headline;
						margin-right: 1rem;
						// text-transform: uppercase;
					}

					.qty{
						display: inline-block;
						width: 6rem;
					}

					.numberinput-wrapper{
						background: #fff;
						// border: 1px solid #fff;
						// border-radius: 0.4rem;
						color: #000;
						display: block;
						// vertical-align: top;
						width: 6rem;

						input{
							background: #fff;
							border: 0;
							color: #000;
							display: block;
							// font-family: $font-family-headline;
							// font-size: 3.2rem;
							// text-align: center;
							padding: 1rem;
						}

						.numberinput-increment{

							&.up{
								border-bottom: 0.7rem solid #000;
								// top: 1rem;
								// bottom: auto;
							}

							&.down{
								border-top: 0.7rem solid #000;
								// bottom: 1rem;
							}
						}
					}
				}
				
				.single_add_to_cart_button{
					background: $brand-red;
					// border-radius: 0.5rem;
					color: #fff;
					display: inline-block;
					float: none;
					// font-size: 2rem;
					margin: 0;
					// padding: 1.5rem 1rem;
					// text-align: center;
					// transition: all 0.3s;
					// width: 100%;
					vertical-align: middle;

					&:hover{
						background: #fff;
						color: #000;
					}

					&.disabled{
						background: #fff;
						color: #000;
						cursor: not-allowed;
						opacity: 0.3;

						&:hover{
							background: #fff;
							color: #000;
						}
					}

					&.loading{
						background: $brand-red;
						color: rgba(0,0,0,0.3);
						cursor: default;
						// opacity: 0.3;
						pointer-events: none;
						position: relative;

						&:before{
							border-top: 4px solid #fff;
							border-right: 4px solid #fff;
							border-bottom: 4px solid transparent;
							border-left: 4px solid transparent;
							border-radius: 50%;
							content: '';
							display: block;
							width: 2rem;
							height: 2rem;
							margin: auto;
							position: absolute;
							top: 0;
							right: 0;
							bottom: 0;
							left: 0;
							animation: spin 1s infinite linear;
						}
					}

					&.added{
						// &:after{
						// 	color: #fff;
						// 	content: '\f00c';
						// 	display: inline-block;
						// 	font-family: 'Font Awesome 5 Pro';
						// 	margin-left: 0.5rem;
						// }
					}
				}

				.added_to_cart.wc-forward{
					display: none;
				}

				.product_meta{
					margin: 3rem 0 0 0;

					> span{
						display: block;
					}
				}
			}


			.after-cart-buttons{
				margin-top: 3rem;

				.view-cart{
					background: $brand-red;
					// border-radius: 0.4rem;
					display: inline-block;
					// margin-left: 1rem;
					padding: 1rem 1.5rem;
					text-decoration: none;
					transition: all 0.3s;

					&:hover{
						background: #fff;
						color: #000;
					}

					i{
						display: inline-block;
						font-size: 1.2rem;
						margin-right: 0.8rem;
						position: relative;
						top: -0.1rem;
						vertical-align: middle;
					}
				}
			}

			.wcppec-checkout-buttons{
				margin: 2rem 0 0 0;
			}

			.woocommerce-variation-availability{
				display: none;
			}

			.woocommerce-tabs.wc-tabs-wrapper{
				clear: both;
				float: left;
				margin-top: 3rem;
				// text-align: center;
				width: 100%;
			
				@media(max-width: $laptop){
					// width: 40%;
				}
				@media(max-width: $tablet){
					// clear: both;
					// width: 100%;
				}

				h2{
					display: none;
				}
			}

			.tabs.wc-tabs{
				align-items: stretch;
				display: flex;
				font-size: 0.9em;
				justify-content: space-between;
				line-height: 1.1;
				// display: none;
				margin: 0;
				padding: 0;

				&:before,
				&:after{
					display: none;
				}

				li{
					text-align: center;
					width: 49%;

					&.active{
						a{
							background: $brand-red;
							color: #fff;
						}
					}
				}

				a{
					border-top: 1px solid $brand-red;
					border-right: 1px solid $brand-red;
					border-left: 1px solid $brand-red;
					color: rgba(#fff,0.7);
					// display: block;
					align-items: center;
					display: flex;
					height: 100%;
					justify-content: center;
					padding: 1rem;
					text-decoration: none;

					&:hover{
						color: #fff;
					}
				}
			}

			.panel{
				// border-top: 1px solid $brand-red;
				// border-bottom: 1px solid $brand-red;
				border: 1px solid $brand-red;
				padding: 2rem;
			}

			// #tab-additional_information{
			// 	display: block;
			// }

		}
	}

	.related.products{
		border-top: 1px solid $brand-red;
		clear: both;
		float: left;
		margin-top: 5rem;
		padding-top: 3rem;
		text-align: center;
		width: 100%;

		h2{
			margin-bottom: 3rem;
		}

		ul.products{
			margin-right: auto;
			margin-left: auto;
			max-width: 100rem;

			li.product{
				// width: 25%;
				
				// @media(max-width: $laptop){
				// 	width: 33.333%;
				// }
				
				// @media(max-width: $tablet){
				// 	width: 50%;
				// }

				// @media(max-width: $phablet){
				// 	width: 100%;
				// }
			}
		}
	}
}

.product-share{
	// background: $brand-red;
	// border-top: 1px solid $brand-red;
	// border-bottom: 1px solid $brand-red;
	margin-top: 1rem;
	padding: 1rem;
	text-align: center;

	.product-share-title{
		margin-bottom: 0.5rem;
	}

	.addtoany_shortcode{
		.a2a_svg{
			background: #fff !important;
			border-radius: 0;
		}
		.addtoany_list a:hover img,
		.addtoany_list a:hover span{
			opacity: 1;

			svg{
				path{
					fill: $brand-red;
				}
			}
		}

		svg{
			path{
				fill: #000;
				transition: fill 0.3s;
			}
		}
	}
}

.ppc-button-wrapper{
	margin-top: 1rem;
	
	&:before{
		color: #fff;
		content: '— OR —';
		display: block;
		margin-bottom: 1rem;
		text-align: center;

		.woocommerce-checkout #order_review &{
			display: none;
		}
	}
}
#add_payment_method #payment div.payment_box .form-row,
.woocommerce-cart #payment div.payment_box .form-row,
.woocommerce-checkout #payment div.payment_box .form-row{

}
.woocommerce-checkout{
	fieldset{
		padding: 1rem;
	}
	.wc-credit-card-form,
	.wc-payment-form{
		.form-row{
			// margin: 0 !important;
			padding: 0 !important;

			&.form-row-wide{
				clear: both;
				width: 100%;
			}
			&.form-row-first{
				float: left;
				width: 47%;
			}
			&.form-row-last{
				float: right;
				width: 47%;
			}

			label{
				font-size: 0.9em;
				line-height: 1;
			}
		}
	}
	.woocommerce-SavedPaymentMethods-saveNew{
		label{
			line-height: 1.3 !important;
		}
	}
}

.woocommerce ul#shipping_method li input{
	display: inline-block;
	margin-right: 10px;
	width: auto;
}
/* cart */
// .woocommerce-message{
// 	margin-bottom: 2rem;
// }

// .woocommerce{
// 	.woocommerce-cart-form{
// 		line-height: 1.2;
	
// 		@media (max-width: $tablet) {
// 			font-size: 1.6rem;
// 		}
// 		@media (max-width: $phablet) {
// 			display: block;
// 			font-size: 2.1rem;

// 			table.shop_table,
// 			thead,
// 			tbody,
// 			tfoot,
// 			tr,
// 			th,
// 			td{
// 				// border: 0;
// 				display: block;
// 				position: relative;
// 				text-align: center;
// 				width: 100%;
// 			}
// 		}

// 		table{
// 			border-bottom: 1px solid $brand-red;
// 			margin-bottom: 2rem;
// 		}

// 		thead{
// 			@media (max-width: $phablet) {
// 				display: none;
// 			}
// 			th{
// 				font-size: 2.1rem;
			
// 				@media (max-width: $tablet) {
// 					font-size: 1.8rem;
// 				}
// 			}
// 		}

// 		tr:last-child{
// 			td{
// 				border-top: 1px solid $brand-red;
// 			}
// 		}

// 		th,
// 		td{
// 			font-weight: 400;
// 			padding: 1rem;
// 		}

// 		th{
// 			font-size: 1.6rem;
// 		}

// 		.input-text{
// 			background: #fff;
// 			border-width: 0.2rem;
// 			color: #000;
// 		}
		
// 		.woocommerce-cart-form__cart-item{
// 			@media (max-width: $phablet) {
// 				align-items: center;
// 				border-top: 1px solid $brand-red;
// 				display: flex;
// 				flex-wrap: wrap;
// 				justify-content: space-between;
// 				padding-right: 0;
// 				padding-left: 0;
// 			}
			
// 			td{
// 				border-top: 1px solid $brand-red;
				
// 				@media (max-width: $phablet) {
// 					border: 0;
// 				}
// 			}
// 		}

// 		.product-remove{
// 			@media (max-width: $phablet) {
// 				position: absolute;
// 				top: 0;
// 				left: 0;
// 				width: auto;
// 			}
// 			a{
// 				// background: #fff;
// 				// border-radius: 50%;
// 				// color: $brand-red;
// 				// display: block;
// 				font-size: 3rem;
// 				// font-weight: 700;
// 				text-decoration: none;
// 				// width: 2.4rem;
// 				// height: 2.4rem;
// 				// text-align: center;
// 				// line-height: 2.4rem;
// 				// text-transform: uppercase;
// 			}
// 		}

// 		.product-thumbnail{
// 			@media (max-width: $phablet) {
// 				padding-left: 3rem;
// 				width: 40%;
// 			}

// 			img{
// 				max-height: none;
// 				max-width: 100px;
// 				width: 100%;
// 			}
// 		}

// 		.product-name{
// 			text-align: left;
			
// 			@media (max-width: $phablet) {
// 				font-size: 1.8rem;
// 				// text-align: center;
// 				padding-right: 0;
// 				width: 60%;
// 			}
// 		}

// 		.product-price{
// 			width: 30%;
// 		}
// 		.product-quantity{
// 			@media (max-width: $phablet) {
// 				width: 30%;
// 			}
			
// 			.quantity{
// 				@media (max-width: $phablet) {
// 					margin: 0 auto;
// 					width: 6rem;
// 				}
// 			}

// 			input{
// 			}

// 			.numberinput-increment{
// 				&.up{
// 					border-bottom-color: #000;
// 				}
// 				&.down{
// 					border-top-color: #000;
// 				}
// 			}
// 		}
// 		.product-subtotal{
// 			width: 30%;
// 		}

// 		.actions{
// 			border-top: 1px solid rgba($brand-black, 0.3);
// 			padding-top: 3rem;
// 			padding-bottom: 3rem;
					
// 			@media (max-width: $phablet) {
// 				// padding-bottom: 0;
// 			}

// 			.coupon{
// 				display: flex;
// 				align-items: center;
// 				justify-content: flex-end;
					
// 				@media (max-width: $phablet) {
// 					display: block;
// 				}

// 				label{
// 					display: inline-block;
					
// 					@media (max-width: $phablet) {
// 						display: block;
// 						text-align: left;
// 					}
// 				}

// 				#coupon_code{
// 					display: inline-block;
// 					margin: 0 1rem;
					
// 					@media (max-width: $phablet) {
// 						display: block;
// 						margin: 1rem 0;
// 						max-width: none;
// 						width: 100%;
// 					}
// 				}
// 				.button{
// 					display: inline-block;
// 					margin: 0;
// 					max-width: 100%;
// 					min-width: 0;
// 					width: auto;
					
// 					@media (max-width: $phablet) {
// 						display: block;
// 						margin: 0;
// 						width: 100%;
// 					}
// 				}
// 			}

// 			.button{
// 				display: block;
// 				font-size: 2rem;
// 				margin-top: 2rem;
// 				max-width: 100%;
// 				min-width: 0;
// 				width: auto;
// 				@media (max-width: $phablet) {
// 					width: 100%;
// 				}

// 				&[disabled]{
// 					opacity: 0.3;
// 					pointer-events: none;
// 				}
// 			}
// 		}
// 	}

// 	.woocommerce-shipping-totals{

// 		th{
// 			font-size: 2.1rem;
// 			font-weight: 400;
// 			padding-bottom: 1rem;
// 		}
// 		td{
// 			padding-bottom: 1rem;
// 		}
// 		.woocommerce-shipping-methods{
// 			list-style: none;
// 			margin: 0;
// 			padding: 0;
// 		}
// 	}

// 	.shipping-calculator-form{
// 		margin-top: 1rem;

// 		p{
// 			clear: both;
// 			float: right;
// 			max-width: 30rem;
// 			width: 100%;
// 		}

// 		.button{
// 			font-size: 1.8rem;
// 		}
// 	}
	
// 	.cart-collaterals{
// 		.cart-subtotal,
// 		.order-total,
// 		.button{
// 			max-width: none;
// 			min-width: 0;
// 		}
// 		.cart-subtotal,
// 		.order-total,
// 		.recurring-totals{
// 			display: none;
// 		}

// 		.order-total.recurring-total{
// 			display: flex;

// 			th{
// 				margin-bottom: 1rem;
// 			}

// 			small{
// 				font-size: 1.8rem;
// 			}
// 		}

// 		.button{

// 			@media (max-width: $phablet) {
// 				width: 100%;
// 			}
// 		}
// 	}
// 	.cart_totals{
// 		h2{
// 			display: none;
// 		}
// 	}

// 	.cart-subtotal{
// 		// font-size: 1.8rem;
// 	}
// 	.order-total{
// 		font-size: 2.8rem;
// 		line-height: 1.1;
// 		padding: 1rem 0;
		
// 		@media (max-width: $phablet) {
// 			font-size: 2.1rem;
// 		}

// 		th{
// 		}

// 		td{

// 		}
// 	}

// 	.woocommerce-checkout{

// 		.wc_payment_methods{
// 		}
		
// 		.wc_payment_method.payment_method_paypal{
// 			display: block;
// 			margin: 2rem 0;

// 			label{
// 				display: block;
// 				font-size: 0;
// 				overflow: hidden;
// 				// margin: 2rem 0;
// 			}

// 			img{
// 				clear: both;
// 				float: right;
// 				font-size: 2rem;
// 				// margin-bottom: 1rem;
// 			}

// 			a{
// 				clear: both;
// 				display: block;
// 				float: right;
// 				font-size: 2rem;
// 				margin-bottom: 1rem;
// 			}
// 		}
// 	}

// 	.checkout-button{
// 		background: $brand-red;
// 		color: #fff;

// 		&:hover{
// 			background: #fff;
// 			color: #000;
// 		}
// 	}
// }


// /* checkout */
// .woocommerce-notices-wrapper{
// 	display: none;
// }
// .woocommerce{
// 	.woocommerce-checkout{
// 		.woocommerce-billing-fields__field-wrapper input,
// 		.woocommerce-shipping-fields__field-wrapper input{
// 			background: #fff;
// 		}
// 	}
// }

// .woocommerce-form-coupon{
// 	.form-row-first{

// 	}

// 	.button{
// 		background: $brand-red;
// 		color: #fff;

// 		&:hover{
// 			background: #fff;
// 			color: #000;
// 		}
// 	}
// }

// .woocommerce-invalid{
// 	input,
// 	select,
// 	.select2,
// 	textarea{
// 		border: 2px solid $brand-red;
// 		border-radius: 0.4rem;
// 	}
// }
// .woocommerce-billing-fields{
// 	h3{
// 		font-size: 2.4rem;
// 	}
// }
// .woocommerce-shipping-fields{
// 	margin-top: 3rem;

// 	h3{
// 		font-size: 2.4rem;
// 	}
// }
// #ship-to-different-address{
// 	input{
// 		background: #fff;
// 		// border: 0.3rem solid #000;
// 		border-radius: 0;
// 		// box-shadow: none;
// 		display: inline-block;
// 		margin: 0 0.5rem 0 0;
// 		padding: 0;
// 		width: auto;
// 	}
		
// 	label{
// 		font-size: 2.4rem;
// 	}
// }

// .woocommerce-additional-fields{
// 	margin-top: 2rem;
// }

// #order_review_heading{
// 	border-top: 1px solid $brand-red;
// 	font-size: 3rem;
// 	margin-top: 3rem;
// 	padding-top: 2rem;
// }
// // .woocommerce-form__label-for-checkbox woocommerce-form-login__rememberme
// .woocommerce-form-login__rememberme{
// 	label{
// 		margin: 0;
// 	}
// 	input[type="checkbox"]{
// 		display: inline-block;
// 		margin: 0 1rem 0 0;
// 		width: auto;
// 	}
// }

// .woocommerce-form-login{
// 	margin: 2rem 0;

// 	.form-row{
// 		float: left;
// 		width: 100%;
// 	}

// 	.form-row-first{
// 		width: 49.5%;
		
// 		@media (max-width: $phablet) {
// 			// padding-right: 0;
// 			width: 100%;
// 		}
// 	}
// 	.form-row-last{
// 		float: right;
// 		width: 49.5%;
		
// 		@media (max-width: $phablet) {
// 			// padding-left: 0;
// 			width: 100%;
// 		}
// 	}

// 	.clear{
// 		clear: both;
// 		width: 100%;
// 	}

// 	.button{
// 		margin-top: 1rem;
// 	}
// }

// .followup-checkout{
// 	margin-top: 2rem;

// 	label{
// 		margin: 0;
// 	}
// 	input[type="checkbox"]{
// 		display: inline-block;
// 		margin: 0 1rem 0 0;
// 		width: auto;
// 	}
// }

// .woocommerce .woocommerce-checkout #order_review{
// 	text-align: left;
// }
// .woocommerce .woocommerce-checkout #order_review_heading{
// 	margin-bottom: 2rem;
// 	text-align: center;
// }

// .shop_table.woocommerce-checkout-review-order-table{
// 	border-collapse: collapse;
// 	margin: 0 auto;
// 	text-align: left;
// 	width: auto;

// 	@media (max-width: $phablet) {
// 		font-size: 1.6rem;
// 		width: 100%;
// 	}

// 	th,td{
// 		line-height: 1.1;
// 		margin: 0;
// 		padding: 0;
// 	}
// 	th + th,
// 	th + td,
// 	td + td{
// 		padding-left: 2rem;
// 	}

// 	thead{
// 		th,
// 		td{
// 			font-size: 2.1rem;
// 			font-weight: 400;
// 			padding-bottom: 2rem;
// 		}
// 	}

// 	tbody{
// 		th,
// 		td{
// 			padding-bottom: 1.5rem;
// 		}

// 		tr:last-child{
// 			th,
// 			td{
// 				padding-bottom: 2rem;
// 			}
// 		}
// 	}
// 	tfoot{
// 		border-top: 1px solid rgba(#fff,0.3);
		
// 		th,
// 		td{
// 			padding-top: 2rem;
// 		}

// 		td{
// 		}
// 	}

// 	// .product-total{
// 	// 	// padding-left: 2rem;
// 	// }

// 	// tr.cart_item:last-child{
// 	// 	th,td{
// 	// 		// padding-bottom: 1rem;
// 	// 	}
// 	// }

// 	.cart-subtotal{
// 		// display: none;
// 		th{
// 			font-size: 1.8rem;
// 			font-weight: 400;
// 		}
// 	}

// 	.woocommerce-shipping-totals{
	
// 		th{
// 			font-size: 1.8rem;
// 			font-weight: 400;
// 		}
// 		td{
// 			// padding: 0 0 1rem 2rem;
// 		}
// 	}

// 	.order-total{
// 		// display: none;
// 		font-size: 2.1rem;
// 		font-weight: 400;
// 		padding: 0;

// 		td{
// 			// padding-left: 2rem;
// 		}
// 	}

// 	.recurring-totals{
// 		display: none;
// 		// font-size: 2.1rem;
// 	}
// 	// .order-total.recurring-total{
// 	// 	display: table-row;

// 	// 	th{
// 	// 		border-top: 1px solid $brand-red;
// 	// 		font-size: 2.1rem;
// 	// 		padding-top: 1rem;
// 	// 		vertical-align: top;
// 	// 	}

// 	// 	td{
// 	// 		border-top: 1px solid $brand-red;
// 	// 		padding-top: 1.5rem;
// 	// 		padding-left: 1rem;
// 	// 	}

// 	// 	small{
// 	// 		font-size: 1.8rem;
// 	// 	}
// 	// }
// }

// .woocommerce .woocommerce-checkout .wc_payment_methods{
// 	// float: right;
// 	list-style: none;
// 	margin: 0;
// 	padding: 0;
// 	text-align: left;

// 	li{
// 		position: relative;
// 		padding: 0 0 0 2rem;
		
// 		> input{
// 			margin: 0;
// 			position: absolute;
// 			top: 0.8rem;
// 			left: 0;
// 		}
// 	}

// 	label{
// 		display: inline-block;
// 		font-size: 1.8rem;
// 		margin: 0;
// 		// vertical-align: middle;
// 		width: auto;
// 	}

// 	input{
// 		border-radius: 0;
// 		box-shadow: none;
// 		display: inline-block;
// 		margin: 0 0.5rem 0 0;
// 		padding: 0;
// 		width: auto;
// 	}

// 	img{
// 		display: inline-block;
// 		margin-left: 0.5rem !important;
// 		padding: 0 !important;
// 		vertical-align: middle;
// 		width: 4rem !important;
// 	}
// }

// .wc-credit-card-form{
// 	border: 1px solid rgba(#fff, 0.3);
// 	display: flex;
// 	margin: 0 0 0.5rem 0;
// 	padding: 2rem;
// 	width: 100%;
	
// 	@media (max-width: $tablet) {
// 		display: block;
// 		// padding: 1rem;
// 	}

// 	.form-row{
// 		// width: 33.333%;
// 		padding: 0 1rem;
		
// 		@media (max-width: $tablet) {
// 			width: 100% !important;

// 			+ .form-row{
// 				margin-top: 1rem;
// 			}
// 		}

// 		&:nth-child(1){
// 			width: 40%;
// 		}
// 		&:nth-child(2){
// 			width: 30%;
// 		}
// 		&:nth-child(3){
// 			width: 30%;
// 		}

// 		label{
// 			font-size: 1.6rem !important;
// 		}
// 	}

// 	.stripe-source-errors + br{
// 		display: none;
// 	}
// }

// .woocommerce-checkout-payment{
// 	border-top: 1px solid $brand-red;
// 	margin-top: 3rem;
// 	padding-top: 2rem;

// 	@media (max-width: $phablet) {
// 		font-size: 1.6rem;
// 	}
// 	.button{
// 		@media (max-width: $phablet) {
// 			width: 100%;
// 		}
// 	}
// }


// .wc_payment_method.payment_method_stripe{
// 	// label{
// 	// 	font-size: 0;
// 	// 	white-space: nowrap;
// 	// 	width: 100%;

// 	// 	img{
// 	// 		display: inline-block;
// 	// 		margin: 0;
// 	// 		width: auto;
// 	// 	}
// 	// }
// }

// .payment_box{
// 	// margin-top: 1rem;

// 	p{
// 		display: none;
// 	// 	font-size: 1.6rem;
// 	}

// 	// fieldset{
// 	// 	border: 0.3rem solid $brand-black;
// 	// 	border-radius: 0.5rem;
// 	// 	box-shadow: none;
// 	// 	margin: 0;
// 	// 	padding: 1rem;
// 	// }
// }

// .woocommerce-privacy-policy-text{
// 	margin-bottom: 2rem;
// }

// .form-row.place-order{
// 	clear: both;
// 	padding-top: 3rem;
// 	text-align: center;
// }

// .woocommerce-terms-and-conditions-wrapper{
// 	font-size: 1.6rem;
// 	line-height: 1.3;
// 	text-align: left;
// }



/* account */
/*
.woocommerce-account{
	.woocommerce{
		align-items: flex-start;
		display: flex;
		flex-wrap: wrap;
		
		@media (max-width: $tablet) {
			display: block;
		}

		.woocommerce-form-login{
			width: 100%;
		}

	}

}

.woocommerce-account.woocommerce-lost-password{

	.woocommerce{
		display: block;
	}
}

.woocommerce-MyAccount-navigation{
	border: 1px solid $brand-orange;
	padding: 0.5rem;
	
	@media (max-width: $tablet) {
		margin-bottom: 3rem;
	}

	ul{

	}

	li{

		margin-bottom: 0.5rem;
	}

	a{
		color: $brand-black;
		display: block;
		line-height: 1;
		padding: 0.7rem 1rem;
		white-space: nowrap;
	}
	
	.is-active{
		a{
			// border: 1px solid $brand-black;
			// color: $brand-black;
			color: #fff;
			background: $brand-orange;
			// clip-path: polygon(0 0, 90% 0, 100% 50%, 90% 100%, 0 100%);
		}
	}

}
.woocommerce-MyAccount-content{
	flex: 1;
	padding-left: 5rem;
	
	@media (max-width: $tablet) {
		padding-left: 0;
	}

	section{
		margin-bottom: 3rem;
	}

	h2,h3{
		font-weight: 700;
	}

	table{
		font-size: 1.8rem;
		line-height: 1.2;
	
		@media (max-width: $tablet) {
			font-size: 1.6rem;
		}

		td{
			padding: 0.5rem;
		}
	}

	// .woocommerce-orders-table woocommerce-MyAccount-orders shop_table shop_table_responsive my_account_orders account-orders-table
	.woocommerce-orders-table{
		td{
			text-align: center;
		}
	}

	// .u-columns woocommerce-Addresses col2-set addresses{
	.addresses{
		display: flex;
		
		@media (max-width: $laptop) {
			display: block;
		}

		.woocommerce-Address{
			padding-right: 4rem;

			@media (max-width: $laptop) {
				margin-top: 3rem;
				padding-right: 0;
			}

			&:last-child{
				padding-right: 0;
			}
		}

		// h3{
		// 	font-weight: 700;
		// }
	}

	.woocommerce-table.woocommerce-table--order-details{
		th{
			text-align: left;
		}
	}
}

.woocommerce-EditAccountForm{
	.woocommerce-form-row{
		span{
			em{
				font-size: 1.6rem;
			}
		}
	}

	fieldset{
		margin-bottom: 2rem;
	}
}*/