button,
input[type="button"],
input[type="submit"],
select,
option {
	// appearance: none;
	cursor: pointer;
}

label {
	cursor: pointer;
	// font-family: inherit;
	// font-weight: inherit;
	font-size: 1.6rem;
}

// button,
input[type="button"],
input[type="submit"],
.button,
.wp-block-button__link {
	background: #fff;
	border-radius: 0.4rem;
	border: 0;
	color: #000;
	cursor: pointer;
	display: inline-block;
	font-family: inherit;
	font-size: 2.8rem;
	font-style: normal;
	line-height: normal;
	padding: 1.2rem 3rem;
	text-align: center;
	transition: all 0.3s;

	&:visited{
		background: #fff;
		color: #000;
	}

	&:active,
	&:focus,
	&:hover{
		background: $brand-red;
		color: #fff;
	}
}

// input[type="color"],
// input[type="date"],
// input[type="datetime"],
// input[type="datetime-local"],
// input[type="email"],
// input[type="month"],
// input[type="number"],
// input[type="password"],
// input[type="search"],
// input[type="tel"],
// input[type="text"],
// input[type="time"],
// input[type="url"],
// input[type="week"],
// input:not([type]),
input,
textarea,
select,
select[multiple],
.select2-container .selection{
	background: #fff;
	border: 1px solid #fff;
	border-radius: 0.4rem;
	box-sizing: border-box;
	color: #000;
	display: block;
	font-family: $font-family-base;
	font-size: 1.8rem;
	line-height: normal;
	margin-bottom: 0;
	padding: 1.2rem 1.5rem;
	width: 100%;
}

textarea{
	height: 12rem;
}

.select2-container .selection{

	.select2-selection{
		border: 0;
	}

	.select2-selection__arrow{
		top: 50%;
		transform: translateY(-50%);

		b{
			// border-top-color: #000;
		}
	}
}

.select2-container--open{
	// width: auto;
	// border: 0;
}

.select2-dropdown{
	background: #fff;
	color: #000;
}


.numberinput-wrapper{
	border-radius: 0.4rem;
	overflow: hidden;
	position: relative;

	input{
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		background: none;
		border: 0;
		border-radius: 0;
		display: block;
		// padding: 0 0 0 1rem;

		width: 150%;
	}

	.numberinput-increment{
		border-left: 0.7rem solid transparent;
		border-right: 0.7rem solid transparent;
		cursor: pointer;
		position: absolute;
		right: 0.5rem;
		width: 0;
		height: 0;

		&.up{
			border-bottom: 0.7rem solid #fff;
			// top: 0.7rem;
			bottom: 50%;
			transform: translateY(-100%);
		}

		&.down{
			border-top: 0.7rem solid #fff;
			// bottom: 0.7rem;
			top: 50%;
			transform: translateY(100%);
		}
	}
}